.features {
    @extend %no-marker;
    flex-direction: row;
    padding: 60px 0;
    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
    }
    @media screen and (min-width: $desktop) {
        padding: 94px 0;
        display: flex;
        flex-wrap: nowrap;
    }
}

.features__item {
    margin-bottom: 30px;
    @media screen and (min-width: $tablet) {
        width: calc((100% - 4 * 15px) / 2);
        margin-right: 15px;
        margin-left: 15px;
    }
    @media screen and (min-width: $desktop) {
        margin: 0;
    }
}

.features__item:not(:last-child) {
    @media screen and (min-width: $desktop) {
        margin-right: 30px;
        padding: 0;
    }
}

.features__icon {
    background-color: #f5f4fa;
    display: block;
    margin-bottom: 30px;
    padding: 25px 100px;
    @media screen and (max-width: 767px) {
        width: 100%;
    }
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        width: 100%;
    }
}

.features__title {
    color: $secondary-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.features__text {
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $primary-text-color;
}