.filter {
    display: flex;
    justify-content: center;
    margin: 94px 0 50px;
}

.filter__button {
    background-color: $filter-color;
    color: $secondary-text-color;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    border-radius: 4px;
    margin-right: 8px;
    padding: 6px 22px;
    &:hover,
    &:focus {
        background-color: $accent-color;
        color: $hero-text-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        transition: box-shadow $transition-duration $transition-timing-function, background-color $transition-duration $transition-timing-function, color $transition-duration $transition-timing-function;
    }
}

.filter--accent {
    border: none;
    background-color: $accent-color;
    color: $hero-text-color;
    cursor: pointer;
    font-family: inherit;
}