.footer-address {
    @extend %no-marker;
}

.address-box {
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
        text-align: center;
    }
    @media screen and (min-width: $desktop) {
        margin-right: 70px;
    }
}

.address-box__link {
    display: block;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    color: $hero-text-color;
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        display: flex;
        justify-content: center;
        font-size: 26px;
        line-height: 1.19;
    }
    @media screen and (min-width: $desktop) {
        font-size: 26px;
        line-height: 1.19;
    }
}

.address-box__logo {
    @extend %logo-span;
}

.footer-address__item {
    margin-bottom: 8px;
    &:last-child {
        margin-bottom: 0;
    }
    @media screen and (min-width: $desktop) {
        margin-bottom: 9px;
    }
}

.footer-address__link {
    text-decoration: none;
    transition: color $transition-duration $transition-timing-function;
    &:hover,
    &:focus {
        color: $accent-color;
    }
    &--address {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.71;
        color: $hero-text-color;
    }
    &--email,
    &--tel {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.71;
        color: $physical-address-text-color;
    }
}