.hero {
    background-color: $hero-color;
    margin-left: auto;
    margin-right: auto;
    background-image: $gradient-hero, url(../images/img.fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    padding: 118px 0;
    text-align: center;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: $gradient-hero, url("../images/mobile/header/mob-header@2x.jpg");
    }
    @media screen and (min-width: $tablet) {
        background-image: $gradient-hero, url("../images/tablet/header/tab-header@1x.jpg");
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: $gradient-hero, url("../images/tablet/header/tab-header@2x.jpg");
        }
    }
    @media screen and (min-width: $desktop) {
        background-image: $gradient-hero, url("../images/desktop/header/desk-header@1x.jpg");
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: $gradient-hero, url("../images/desktop/header/desk-header@2x.jpg");
            padding: 200px 0;
        }
    }
}

.hero__title {
    color: $hero-text-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
    @media screen and (min-width: $desktop) {
        font-size: 44px;
        line-height: 1.37;
    }
}