$primary-text-color: #757575;
$hero-text-color: #ffffff;
$secondary-text-color: #212121;
$accent-color: #2196F3;
$filter-color: #f5f4fa;
$physical-address-text-color: rgba(255, 255, 255, 0.6);
$mail-text-color: rgba(33, 150, 243, 1);
$studio-text-color: #000000;
$hero-color: rgba(47, 48, 58, 1);
$icon-color: #AFB1B8;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;